<% content_for :head do -%>
<script type="text/javascript">
  var popHealth = popHealth || {};


  $(document).ready(function() {
  });
  
</script>
<% end -%>

<hr style='margin-bottom:-10px'>
<h2 style="padding-left:40px"><strong>Patients</strong></h2>
<hr style="margin-top:-5px">

  <table style='margin-left:40px'>
    <tr><td>patients loaded: </td>
      <td>
        <%= @patient_count%> patients 
        <%= form_tag("/admin/remove_patients", :method => "delete") do %>
          <%= submit_tag("Delete Patients") %>
        <% end %>
      </td>
    </tr>  
    <tr><td colspan="2">&nbsp;</td></tr>  

    <tr><td>cache counts: </td>
      <td>
        query cache: <%= @query_cache_count%> <br>
        patient cache: <%= @patient_cache_count%>
        
        <%= form_tag("/admin/remove_caches", :method => "delete") do %>
          <%= submit_tag("Delete Caches") %>
        <% end %>
      </td>
    </tr>  
    <tr><td colspan="2">&nbsp;</td></tr>  
    
    <tr><td>providers loaded: </td>
      <td>
        <%= Provider.count %> providers 
        <%= form_tag("/admin/remove_providers", :method => "delete") do %>
          <%= submit_tag("Delete Providers") %>
        <% end %>
      </td>
    </tr>  
    <tr><td colspan="2">&nbsp;</td></tr>
    
    
    <tr><td colspan="2">&nbsp;</td></tr>  
    
    <tr><td>Upload patient zip file: </td>
      <td>
        <%= form_tag("/admin/upload_patients", :method => "put", :multipart=>true) do %>
          <%= file_field_tag(:file)%>
          <%= submit_tag("Upload") %>
        <% end %>
      </td>
    </tr>     
  </table>

	<h3> Patient List: </h3>
  
		<table id="adminPatientTable" class="display table-bordered table-hover" style='width:100%;'>
			<thead>
				<tr>
					<th>Last Name</th>
					<th>First Name</th>
					<th> Date of Birth </th>
					<th> Age </th>
					<th> Patient ID</th>
					<th/>
				</tr>
			</thead>
			
			<tbody>
				<% @records.each do |record| %>
					<tr>
						<td><%= record.last %></td>
						<td><%= record.first %></td>
						<td> <%= Time.at(record.birthdate).strftime('%m/%d/%Y') %> </td>		
						<td> <%= Time.now.year - Time.at(record.birthdate).year %></td>
						<% rec=record.medical_record_number %>
						<% id = Record.where(medical_record_number: "#{rec}").first._id %>
						<td> <%= rec %>
						<td> <%= link_to "View Patient Summary", :controller => "patients", :action => "show", :id => "#{id}"%> </td>
					</tr>
				<% end %>
			</tbody>
		</table>
 <br>
 
 <br>
